html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto Mono", Consolas, monospace;
}

#root {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(10);
  grid-template-rows: 65px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 70px;
  grid-template-areas: 
    "a a a a a a a a a a"
    "c c c c c c c c c c"
    "c c c c c c c c c c"
    "c c c c c c c c c c"
    "c c c c c c c c c c"
    "c c c c c c c c c c"
    "c c c c c c c c c c"
    "c c c c c c c c c c"
    "c c c c c c c c c c"
    "f f f f f f f f f f";
}

.appbar {
  grid-area: a;
}

.content { 
  grid-area: c;
  overflow-y: auto;
} 

.footer {   
  grid-area: f;
}